@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family:'Roboto', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    margin: auto;
    background: linear-gradient(#aa3e3e, #505ac4);
    height: 100vh;
}
.container{
    width: 600px;
    height: 620px;
    background-color: #fff;
    color: #000;
    border-radius: 8px;
    padding: 10px;
    margin-top: 30px;
    box-shadow: 5px 5px 5px 2px rgba(146, 137, 137, 0.75);
}
h1{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 42px;
    padding: 4px;
}
h2{
    padding: 2px;
}
p{
    margin-bottom: 10px;
    font-size: 20px;
}
.form{
    border-radius: 6px;
    padding: 10px;
}
#notincludeKDV,#includeKDV{
    
    font-size:24px;
    height: 20px;
    width: 30px;
}
label{
    font-size: 22px;
    padding: 4px;
}
.amount label{
    margin-top: 6px;
    height: 30px;
    font-size: 24px;
}
.amount input{
    height: 30px;
    width:300px;
    font-size: 20px;
    margin-left: 70px;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 2px;
    border: 2px solid black;
    border-radius: 4px;
}
.amount input:focus{
    border: 2px solid rgb(7, 207, 7);
    outline: 4px rgb(7, 207, 7);
}   
.percent label{
    height: 50px;
    font-size: 22px;
}
.percent input{
    height: 30px;
    width:300px;
    font-size: 20px;
    padding: 2px;
    border-radius: 4px;
}
.percent input:focus{
    border: 2px solid rgb(7, 207, 7);
    outline: 4px rgb(7, 207, 7);
}  

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    margin-top: 10px;
}
.buttons .submit{
    height: 40px;
    padding: 4px;
    font-size: 28px;
    font-weight: 500;
    border: 3px solid transparent;
    border-radius: 4px;
    background-color: #505ac4;
    margin-right: 100px;
}
.buttons .submit:hover{
    border: 3px solid #616ef7;
    height: 48px;
    transition: ease 200ms;
}
.buttons .reset{
    height: 40px;
    width: 120px;
    padding: 4px;
    font-size: 28px;
    font-weight: 500;
    border: transparent;
    border-radius: 4px;
    background-color: #505ac4; 
}
.buttons .reset:hover{
    border: 3px solid #616ef7;
    height: 48px;
    transition: ease 200ms;
}


















.result{
    height: 230px;
    overflow-y: scroll;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb {
    background: #aeaaaa;
}
::-webkit-scrollbar-thumb:hover {
    background: #d4d4d4;
    border-radius: 4px;
}
::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
}